<div id="archive_conf_modal" class="modal {{if this.show_modal "is-active is-clipped"}}" >
            <div class="modal-background" {{on "click" this.close_confirmation}}></div>
            <div class="modal-content">
              <div class="box">
                <h1><b>Confirm</b></h1>
                <p>Are you sure you would like to archive this user?</p>
                <br/>
                <button id="modal_yes" type="button" {{on "click" (fn this.confirm_archive @model)}} class="button modal_btn is-info is-normal is-center">
                Yes?
                </button>
                <button id="modal_no" type="button" {{on "click" this.close_confirmation}}  class="button modal_btn is-danger is-normal is-center">
                No
                </button>
              </div>
            </div>
            <button type="button" {{on "click" this.close_confirmation}}  class="modal-close is-large" aria-label="close"></button>
          </div>

        {{#if @model.archived }} 
          <button id="unarchive_btn" type="button" {{on "click" (fn this.unarchive @model) }} class="button arch_btn is-warning is-normal is-pulled-right">
            Unarchive
          </button>
        {{else}}
          <button id="archive_btn" type="button" {{on "click" this.show_modal_box}} class="button arch_btn is-dark is-normal is-pulled-right">
            Archive
          </button>
        {{/if}}
{{yield}}